{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="{% static 'css/style-todo.css' %}">
</head>
<body>
    <div class="block">
        <div id="form-wrapper">
            <form id="form">
                <div class="flex-wrapper">
                    <div>
                        <input id="title" size="24" class="form-control" type="text" name="title" placeholder="Add task">
                    </div>
                    <div>
                        <input id="submit" class="btn" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>

        <div id="list-wrapper"></div>

    </div>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>